# Віртуальне середовище (найголовніше, щоб не грузити IDE та Git)
venv/
env/

# Кеш Python
__pycache__/
*.py[cod]
*$py.class

# Налаштування середовища розробки (IntelliJ IDEA)
.idea/

# Кеш та налаштування Streamlit
.streamlit/

# Локальні файли даних (на випадок, якщо ви почнете зберігати історію в файли)
*.csv
*.xlsx
*.db
*.json
*.parquet

# Системні файли macOS
.DS_Store